//ipad
@include mediaMd {
  //font size
  body {
    font-size: 12px;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 5rem;
    }
  }

  //contact info box for ipad
  .box-wrap {
    div {
      width: 80%;
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  //body
  body {
    font-size: 16px;
  }

  //about page:
  .about-info {
    grid-template-areas:
      "bio-img bio bio"
      "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
  }

  .menu {
    &-branding,
    &-nav {
      width: 60%;
      float: left;
    }
  }

  .menu .menu-branding {
    height: 100vh;
    transform: translate3d(0, -100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 250px;
      height: 250px;
    }
  }

  .menu-nav {
    height: 100vh;
    transform: translate3d(0, 100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  //contact info box for PC
  .box-wrap {
    div {
      width: 50%;
    }
  }

  //overall font-size
  body {
    font-size: 16px;
  }

  //heading font size
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 6rem;
    }
  }
}
