@include mediaxl {
}

@include medialg {
}
@include mediamd {
  main {
    align-items: center;
    text-align: center;
  }

  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .menu {
    .menu-nav,
    .menu-branding {
      float: none;
      min-height: 0;
      width: 100%;
      &.show {
        transform: translate3d(0, 0, 0);
      }
      .portrait {
        background: url("../img/p.jpg");
        background-size: 100% 100%;
        width: 20vh;
        height: 20vh;
      }
    }
    .menu-nav {
      font-size: 25px;
      height: 70vh;
      transform: translate3d(-100%, 0, 0);
    }
    .menu-branding {
      height: 30vh;
      transform: translate3d(100%, 0, 0);
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  }

  .box-wrap {
    div {
      width: 100%;
    }
  }
}

@include mediasm {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
