@import "config";
@import "manu";
* {
  box-sizing: border-box;
}
body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  font-size: 10px;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 40rem;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    color: set-text-color($primary-color);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.text-secondary {
  color: $secondary;
}

main {
  padding: 4rem;
  min-height: calc(100vh-50px);
  overflow: hidden;
  h1 {
    margin-top: 20vh;
  }
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary;
        @include easeOut();
      }
    }
  }
}

// have to change this grid areas for pc-----------------
.about-info {
  display: grid;
  grid-template-areas:
    "bio-img"
    "bio"
    "job1"
    "job2"
    "job3";

  grid-gap: 30px;

  .bio-img {
    width: 30vh;
    height: 30vh;
    margin: 0 auto;
    grid-area: bio-img;
    border-radius: 50%;
    border: solid 3px $secondary;
  }

  .bio {
    grid-area: bio;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    @if (lightness($primary-color) >40) {
      background-color: lighten($color: $primary-color, $amount: 5);
    } @else {
      background-color: darken($color: $primary-color, $amount: 5);
    }
    border-bottom: solid 5px $secondary;
    padding: 0.5em;
  }
}

// //work projects
.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.item:hover {
  .overlay {
    z-index: 2;
    height: 100%;
  }
}

.item {
  position: relative;
  height: 300px;
  width: 300px;
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background-color: #008cba;
    @include easeOut;
    //content slytes
    padding: 0.6rem;
    // overlay contents
    .project-description {
      letter-spacing: 0.1rem;
      word-spacing: 0.1rem;
      font-size: 1rem;
      line-height: 150%;
      height: 80%;
    }
    .item__btn {
      display: flex;
      font-size: 1rem;
      text-align: center;
      a {
        margin: 3px;
      }
      .btn-eye {
        border-radius: 20px;
        background-color: $secondary;
        flex-grow: 1;
      }
      .btn-git {
        border-radius: 20px;
        background-color: $secondary;
        flex-grow: 1;
      }
    }
  }
  &.item1 {
    background: url("https://images.unsplash.com/photo-1523837084841-974e58314272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
    background-size: 100% 100%;
  }
  &.item2 {
    background: url("https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&auto=format&fit=crop&w=942&q=80");
    background-size: 100% 100%;
  }
  &.item3 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%;
  }
  &.item4 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%;
  }
  &.item5 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%;
  }
}

// .project-description {
//   padding-top: 0;
//   margin-top: 0;

// }

// .item {
//   border: solid 3px set-text-color($primary-color);
//   position: relative;
//   border-bottom: 3px solid $secondary;
//   height: 100%;
//   width: 100%;
//   background-size: cover;
//   &.item1 {
//     background: url("https://images.unsplash.com/photo-1523837084841-974e58314272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
//     background-size: 100% 100%;
//   }
//   &.item2 {
//     background: url("https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&auto=format&fit=crop&w=942&q=80");
//   }
//   &.item3 {
//     background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
//   }
// }

// .image {
//   width: 100%;
//   height: 100%;
// }

// // .overlay {
// //   padding: 10px;
// //   position: absolute;
// //   bottom: 0;
// //   height: 100%;
// //   width: 100%;
// //   opacity: 1;
// //   background-color: darken($secondary, 50);
// //   transform: scaleY(0);
// //   transform-origin: bottom;
// //   transition: 0.2s ease-out;
// // }

// .item:hover .overlay {
//   transform: scaleY(1);
//   opacity: 0.8;
// }

// a[class^="btn"] {
//   position: relative;
//   text-align: center;
//   display: block;
//   width: 100%;
//   margin-bottom: 2px;
//   background-color: darken($secondary, 20);
//   bottom: 0;
// }

#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: darken($color: $primary-color, $amount: 10);
  height: 50px;
}

.box-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: flex-start;

  margin-top: 1rem;
  div {
    letter-spacing: 0.3em;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
      &::after {
        position: absolute;
        right: -13px;
        top: -20px;
        content: "copy";
        width: 10px;
        height: 10px;
      }
    }
  }
}

//order of file orientation is important!!!
@import "moble";
