.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    background: #fff;
    margin-bottom: 5px; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px); }
    .menu-btn.close .btn-line:nth-child(2) {
      display: none; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden; }
  .menu-nav {
    font-size: 2rem;
    height: 75vh;
    padding: 0;
    margin: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
      .menu-nav.show .sm-heading {
        display: none; }
  .menu .menu-branding {
    height: 25vh;
    background: #444;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu-branding .portrait {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url("../img/p.jpg");
      border: solid 3px #eece1a;
      background-size: 100% 100%; }
  .menu .nav-item {
    transform: translate3d(300px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  font-size: 10px;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url("https://raw.githubusercontent.com/bradtraversy/modern_portfolio/master/dist/img/background.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.9);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 40rem; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    color: #fff;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  width: 100%;
  position: fixed;
  z-index: 2; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh-50px);
  overflow: hidden; }
  main h1 {
    margin-top: 20vh; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }

.about-info {
  display: grid;
  grid-template-areas: "bio-img" "bio" "job1" "job2" "job3";
  grid-gap: 30px; }
  .about-info .bio-img {
    width: 30vh;
    height: 30vh;
    margin: 0 auto;
    grid-area: bio-img;
    border-radius: 50%;
    border: solid 3px #eece1a; }
  .about-info .bio {
    grid-area: bio; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background-color: #373737;
    border-bottom: solid 5px #eece1a;
    padding: 0.5em; }

.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem; }

.item:hover .overlay {
  z-index: 2;
  height: 100%; }

.item {
  position: relative;
  height: 300px;
  width: 300px; }
  .item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background-color: #008cba;
    transition: all 0.5s ease-out;
    padding: 0.6rem; }
    .item .overlay .project-description {
      letter-spacing: 0.1rem;
      word-spacing: 0.1rem;
      font-size: 1rem;
      line-height: 150%;
      height: 80%; }
    .item .overlay .item__btn {
      display: flex;
      font-size: 1rem;
      text-align: center; }
      .item .overlay .item__btn a {
        margin: 3px; }
      .item .overlay .item__btn .btn-eye {
        border-radius: 20px;
        background-color: #eece1a;
        flex-grow: 1; }
      .item .overlay .item__btn .btn-git {
        border-radius: 20px;
        background-color: #eece1a;
        flex-grow: 1; }
  .item.item1 {
    background: url("https://images.unsplash.com/photo-1523837084841-974e58314272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
    background-size: 100% 100%; }
  .item.item2 {
    background: url("https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&auto=format&fit=crop&w=942&q=80");
    background-size: 100% 100%; }
  .item.item3 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%; }
  .item.item4 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%; }
  .item.item5 {
    background: url("https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: 100% 100%; }

#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: #2b2b2b;
  height: 50px; }

.box-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin-top: 1rem; }
  .box-wrap div {
    letter-spacing: 0.3em;
    word-wrap: break-word;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .box-wrap div:hover {
      transform: scale(1.01); }
      .box-wrap div:hover::after {
        position: absolute;
        right: -13px;
        top: -20px;
        content: "copy";
        width: 10px;
        height: 10px; }

@media screen and (max-width: 768px) {
  body {
    font-size: 12px; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem; }
  .box-wrap div {
    width: 80%; } }

@media screen and (min-width: 769px) {
  body {
    font-size: 16px; }
  .about-info {
    grid-template-areas: "bio-img bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr); }
  .menu-branding, .menu-nav {
    width: 60%;
    float: left; }
  .menu .menu-branding {
    height: 100vh;
    transform: translate3d(0, -100%, 0); }
    .menu .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu-branding .portrait {
      width: 250px;
      height: 250px; }
  .menu-nav {
    height: 100vh;
    transform: translate3d(0, 100%, 0); }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .box-wrap div {
    width: 50%; }
  body {
    font-size: 16px; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; } }
